{% extends "base.html" %}

{% block content %}
        <h2 class="subtitle">一个后现代<strong>文本编辑器</strong></h2>
      <!-- <img src="./screenshot.png" /> -->
      <div id="demo"></div>
      <div class="action">
        <a href="/helix-docs-cn/install.html"><strong>立即安装</strong></a>
      </div>
      <hr/>
      <section class="content">
        <div class="selling-points">
          <div class="selling-point">
            <h2>多重选择</h2>
            多光标作为核心编辑原语，灵感源自
            <a href="http://kakoune.org/">Kakoune</a>。命令可操作选区，
            支持并发代码编辑。
            <!-- Editing is focused on being easy to reason with, even if it takes -->
            <!-- a keystroke or two more than Vim or Kakoune. -->
          </div>

          <div class="selling-point">
            <h2><a href="https://tree-sitter.github.io/tree-sitter/">Tree-sitter</a> 集成</h2>
            Tree-sitter 生成具有容错性和健壮性的语法树，从而实现更出色的语法高亮、缩进计算和代码导航功能。
          </div>

          <div class="selling-point">
            <h2>强大的代码操作能力</h2>
            <a href="/helix-docs-cn/syntax-aware-motions.html">
            导航</a> 和 <a href="/helix-docs-cn/textobjects.html">选择</a>
            函数, 类, 注释等语法节点。
          </div>

          <div class="selling-point">
            <h2>
              <a href="https://microsoft.github.io/language-server-protocol/">语言服务器</a> 支持
            </h2>
            <p>各编程语言特定的一键补全，跳转定义，文档，诊断和更多IDE功能，无需额外配置。</p>
          </div>

          <div class="selling-point">
            <h2>基于Rust的终端编辑器</h2>
            <p>没有Electron. 没有VimScript. 没有JavaScript. 可以通过ssh、tmux或普通终端使用，你的笔记本电脑电池寿命会感谢你。</p>
          </div>

          <div class="selling-point">
            <h2>现代内置功能</h2>
           <p>模糊查找器（可快速跳转到文件和符号，支持项目范围搜索），</p>
            <a href="/helix-docs-cn/themes.html">美观的主题</a>,
            自动闭合括号对，<a href="/helix-docs-cn/surround.html">
            surround</a> 集成等更多功能。
          </div>
        </div>
        </section>
      <hr/>
      <section class="content">
        <h2><strong>常见问题</strong></h2>

          <h3>后现代?!</h3>
          <p>开个玩笑哈哈，如果Neovim是现代的Vim，那么Helix是后现代的。</p>

          <h3>它好吗?</h3>
          <a href="http://news.ycombinator.com/item?id=3067434">是的.</a>

          <h3>它是否有GUI前端?</h3>
          <p>最终会的！我们打算开发一个基于 WebGPU 的替代前端原型。
          参见Github上的<a href="https://github.com/helix-editor/helix/discussions/11783">讨论</a>
          </p>

          <h3>它是否有插件系统?</h3>
          <p>当前没有插件系统，但我们计划在未来添加一个。<a href="https://github.com/helix-editor/helix/discussions/3806">讨论更多</a>。</p>

          <h3>和Kakoune有什么区别?</h3>
          <p>主要是内置了更多功能。Kakoune是<a href="https://github.com/mawww/kakoune/blob/master/doc/design.asciidoc">可组合设计</a>，依赖外部工具来管理分屏和提供语言服务器支持。Helix则选择集成更多功能。我们还使用tree-sitter进行高亮和代码分析。</p>

          <h3>和Vim有什么区别?</h3>
          <p>它主要是从头开始构建的。我们从Vim中吸取了经验，并进行了一些突破性的变革。最后有了一个更小的代码库和现代的默认设置。如果您之前从未使用过模式编辑器(modal editor)，那么开始起来会更容易，配置文件也更少。</p>

      </section>
      <hr/>
      <section class="content">
        <h2><strong>Support</strong></h2>
            <p>在<a href="https://github.com/helix-editor/helix">GitHub</a>上贡献代码。</p>
            <p>在<a href="https://matrix.to/#/#helix-community:matrix.org">Matrix</a>上讨论该项目。</p>
            <p>在<a href="https://opencollective.com/helix-editor">OpenCollective</a>上赞助开发。</p>
      </section>
      <hr/>
    <script src="./asciinema-player.min.js"></script>
    <script>
      //请在后续加载cast时使用这种路径，否则加载会失败。
      AsciinemaPlayer.create('./demo.cast', document.getElementById('demo'), {
        cols: 120,
        rows: 40,
        keystrokeOverlay: true,
      });
    </script>
{% endblock content %}
